$bg-white: #FFFFFF;
$bg-grey: #F8F8F8;
$border-header: #D9FFF5;
$border: #EAEAEA;
$btn-pink: #FF3E79;
$btn-black: #252525;
$bg-opacity: #7E7E82;
$bg-line: #41F6D7;
$box-shadow: #161f5433;
$input-color: #B5B6BC;
$ctn-color: #1B1C21;
$sl-border: #B8FFEC;